<main>
  {{!--Exibir mensagem, se necessario--}}
  {{#if semRegistros}}
  <h1 class="produtoNaoEncontrado">Nenhum produto encontrado :(</h1>
  {{/if}}
  <!-- Listagem de produtos -->
  <div class="container">
     <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2>Listar Produtos </h2>
    </div>
  
    <div class="row">
      <table class="table tabela-imagem">
        <thead class="thead-dark">
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each produtos}}
          <tr>
            <td><img src='../imagens/{{this.imagem}}'class="imagem-reduzida" alt="Imagem"></td>
            <td>{{nome}}</td>
            <td>{{descricao}}</td>
            <td>{{categoria}}</td>
            <td>{{valor}}</td>

            <td>
              <a href="/produto/{{this._codigo}}" data-bs-toggle="modal" data-bs-target="#modal{{@index}}"><i
                  class="fa fa-edit" aria-hidden="true"></i></a>
              <a href="/remover/{{codigo}}&{{imagem}}" <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
           
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>

  </div>


</main>

{{!-- Gerar uma estrutura de modal para cada linha do vetor --}}
{{#each produtos}}

{{!-- Modal --}}
<div class="modal fade" id="modal{{@index}}" tabindex="-1" aria-labelledby="modal{{@index}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal{{@index}}">Editar - {{@index}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Formulario -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="/editar" method="post" enctype="multipart/form-data">
                <img src="imagens/{{imagem}}" class="img-fluid">
                <div class="mb-3">
                  <input type="hidden" name="nomeImagem" value="{{produto.imagem}}">
                </div>
            </div>
            <input type="hidden" name="codigo" value="{{codigo}}">
          </div>
          <div class="mb-3">
            <input type="text" name="nome" class="form-control" placeholder="Nome do produto" value="{{nome}}">
          </div>
          <div class="mb-3">
            <input type="text" name="descricao" class="form-control" placeholder="Descrição do produto"
              value="{{descricao}}">
          </div>
           <div class="mb-3">
             <select name="categoria" class="form-select" aria-label="Default select example" value="{{categoria}}">
                      <option selected>Categoria do produtos</option>
                      <option value="Smartphone">Smartphone</option>
                      <option value="AirDot">AirDot</option>
                      <option value="Smartwhact">Smartwhact</option>
                    </select>
          </div>
          <div class="mb-3">
            <input type="number" name="valor" class="form-control" placeholder="Valor do produto" value="{{valor}}">
          </div>
          <div class="mb-3">
            <input type="file" name="imagem" class="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Salvar">
          <a href="/" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{{/each}}