<main>

  <!-- A Modal -->
  <div class="modal" id="modelProduto">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Cabeçalho da Modal -->
        <div class="modal-header">

          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h4 class="modal-title">Cadastrar Produtos</h4>
          </div>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>

        <!-- Corpo da Modal -->
        <div class="modal-body">
          {{!-- Formulario --}}
          <div class="container">
            <div class="row">
              <div class="col-sm-10 offset-md-1">
                {{!--Mensagens --}}
                {{>mensagens}}
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="_id" value="{{produto._id}}">
                  <div class="form-group col-md-12">
                    <input type="text" name="nome" class="form-control" placeholder="Nome do produto">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="text" name="descricao" class="form-control" placeholder="Descrição do produto">
                  </div>
                  <div class="form-group col-md-12">
                    <input type="number" name="valor" class="form-control" placeholder="Valor do produto">
                  </div>
                  <div class="form-group col-md-12">
                    <select name="categoria" class="form-select" aria-label="Default select example">
                      <option selected>Categoria do produto</option>
                      <option value="1">Smartphone</option>
                      <option value="2">AirDot</option>
                      <option value="3">Smartwhact</option>
                    </select>
                  </div>

                  <div class="form-group col-md-12">
                    <input type="file" name="imagem" class="form-control">
                  </div>
                  <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-database"></i>Salvar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Rodapé da Modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <!-- Adicione outros botões ou ações conforme necessário -->
        </div>

      </div>
    </div>
  </div>
  <!-- Listagem de produtos -->
  <div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2>Listar Produtos <a class="btn btn-info float-right btn-sm" href="/cadastrar" data-bs-toggle="modal"
          data-bs-target="#modelProduto"><i class="fas fa-shopping-cart"></i>Cadastrar Novo Produto</a></h2>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each produtos}}
          <tr>
            <td><img src='" . $row['__dirname+"/imagens"'] . "'></td>
            <td>{{this.nome}}</td>
            <td>{{this.descricao}}</td>
            <td>{{this.categoria}}</td>
            <td>{{this.valor}}</td>

            <td>
              <a href="/produto/{{this._codigo}}" data-bs-toggle="modal" data-bs-target="#modal{{@index}}"><i
                  class="fa fa-edit" aria-hidden="true"></i></a>
              <a href="/remover/{{codigo}}&{{imagem}}" <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
            {{!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#modal{{@index}}">Alterar</button>
            <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger btn-sm float-right">Remover</a> --}}
          </tr>
          {{/each}}
        </tbody>
      </table>

      {{!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="imagens/{{imagem}}">
          <div class="textos">
            <p>{{nome}}</p>
            <p>{{descricao}}</p>
            <p>R${{valor}}</p>
          </div>
          {{!-- <a href="/formularioEditar/{{codigo}}" class="btn btn-warning btn-sm float-right ml-2">Alterar</a>
          --}}

          {{!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#modal{{@index}}">Alterar</button>
          <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger btn-sm float-right">Remover</a>
        </div>
      </div> --}}

    </div>

  </div>


</main>

{{!-- Gerar uma estrutura de modal para cada linha do vetor --}}
{{#each produtos}}

{{!-- Modal --}}
<div class="modal fade" id="modal{{@index}}" tabindex="-1" aria-labelledby="modal{{@index}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal{{@index}}">Editar - {{@index}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Formulario -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="/editar" method="post" enctype="multipart/form-data">
                <img src="imagens/{{imagem}}" class="img-fluid">
                <div class="mb-3">
                  <input type="hidden" name="nomeImagem" value="{{produto.imagem}}">
                </div>
            </div>
            <input type="hidden" name="codigo" value="{{codigo}}">
          </div>
          <div class="mb-3">
            <input type="text" name="nome" class="form-control" placeholder="Nome do produto" value="{{nome}}">
          </div>
          <div class="mb-3">
            <input type="text" name="descricao" class="form-control" placeholder="Descrição do produto"
              value="{{descricao}}">
          </div>
           <div class="mb-3">
             <select name="categoria" class="form-select" aria-label="Default select example" value="{{categoria}}">
                      <option selected>Categoria do produtos/option>
                      <option value="1">Smartphone</option>
                      <option value="2">AirDot</option>
                      <option value="3">Smartwhact</option>
                    </select>
          </div>
          <div class="mb-3">
            <input type="number" name="valor" class="form-control" placeholder="Valor do produto" value="{{valor}}">
          </div>
          <div class="mb-3">
            <input type="file" name="imagem" class="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Salvar">
          <a href="/" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{{/each}}